.detail-modal {
    width: 868px;
    height: 750px;
    position: absolute;
    top: 153px;
    left: 50%;
    background-color: #FFFFFF;
    border-radius: 18px;
    transform: translateX(-50%);
    z-index: 5;
}