.podcast {
    width: 178px;
    height: 266px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8px;
    border-radius: 8px;
    box-shadow: 24px 8px 24px rgba(199, 199, 199, 0.24);

    .cover {
        width: 143.61px;
        height: 143.61px;

        img {
            width: 143.61px;
            height: 143.61px;
        }
    }

    .summary {
        width: 145px;
        height: 77px;
        margin-top: 10px;

        .name {
            color: #141416;
            font-size: 14px;
            font-weight: 700;
            line-height: 20.27px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .author {
            color: #93989A;
            font-size: 12px;
            font-weight: 400;
            line-height: 17.38px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .more-btn {
            width: 44px;
            height: 28px;
            margin-top: 8px;
            color: #FFFFFF;
            background: #30A9DE;
            font-size: 14px;
            font-weight: 400;
            line-height: 20.27px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
    }
}

.click {
    border: 2px solid #FF7F50;
}

.mask {
    min-width: 1440px;
    height: 1024px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(17, 17, 17, 0.5);
    backdrop-filter: blur(6px);
    z-index: 3;
}